@import './styles/administartion/AdminLayout.css';
@import './styles/administartion/OwnerAdmins.css';
@import './styles/administartion/UniversitiesAdmin.css';
@import './styles/administartion/OwnerSubjects.css';