@import './styles/administartion/AdminLayout.css';
@import './styles/administartion/OwnerAdmins.css';
@import './styles/administartion/UniversitiesAdmin.css';
@import './styles/administartion/OwnerSubjects.css';
@import './styles/header.css';
@import './styles/navbar.css';
@import './styles/ourNumbers.css';
@import './styles/UniversitiesUser.css';
@import './styles/Universities.css';
@import './styles/Footer.css';